:root {
  --vp-c-brand-1: #c12233;
  --vp-c-brand-2: #d92639;
  --vp-c-brand-3: #dd3c4d;
  --vp-custom-block-tip-text: #155F3E;
  --vp-custom-block-tip-bg: rgba(66, 184, 131, 0.05);
  --vp-custom-block-tip-border: rgba(66, 184, 131, 0.5);
}

.dark {
  --vp-c-brand-1: #dd3e4f;
  --vp-c-brand-2: #dd3c4d;
  --vp-c-brand-3: #d92639;
  --vp-custom-block-tip-text: #42D392;
  --vp-custom-block-tip-bg: rgba(66, 184, 131, 0.05);
  --vp-custom-block-tip-border: rgba(66, 184, 131, 0.25);
  --vp-c-gutter: var(--vp-c-divider);
}

.dark img {
  filter: grayscale(1) invert(1);
}

.vp-doc a {
  text-decoration: inherit;
}

.vp-doc a:hover {
  text-decoration: underline;
}

.project-origin {
  padding: 16px 24px;
  display: flex;
  justify-content: center;
}

.project-origin .custom-block {
  max-width: 1152px;
}

.content-wrapper {
  padding: 28px 24px;
}

@media (min-width: 640px) {
  .content-wrapper {
    padding: 28px 48px;
  }
  .project-origin {
    padding: 16px 48px;
  }
  .VPHome .VPHero p.text {
    font-size: 44px;
  }
}

@media (min-width: 960px) {
  .content-wrapper {
    padding: 28px 64px;
  }
  .project-origin {
    padding: 16px 64px;
  }
  .VPHome .VPHero p.text {
    font-size: 52px;
  }
}

.VPHome .VPHero {
  padding-bottom: 0;
}
