:root {
  --vp-c-brand: #c12233;
  --vp-c-brand-light: #dd3e4f;
  --vp-c-brand-lighter: #e15665;
  --vp-c-brand-dark: #dd3e4f;
  --vp-c-brand-darker: #e05161;
  --vp-custom-block-tip-text: #155F3E;
  --vp-custom-block-tip-bg: rgba(66, 184, 131, 0.05);
  --vp-custom-block-tip-border: rgba(66, 184, 131, 0.5);
}

.dark {
  --vp-c-brand: #dd3e4f;
  --vp-custom-block-tip-text: #42D392;
  --vp-custom-block-tip-bg: rgba(66, 184, 131, 0.05);
  --vp-custom-block-tip-border: rgba(66, 184, 131, 0.25);
}

.dark img {
  filter: grayscale(1) invert(1);
}

.dark .VPFooter {
  border-top: 1px solid var(--vp-c-divider);
}

.project-origin {
  padding: 16px 24px;
  display: flex;
  justify-content: center;
}

.project-origin .custom-block {
  max-width: 1152px;
}

@media (min-width: 640px) {
  .project-origin {
    padding: 16px 48px;
  }
}

@media (min-width: 960px) {
  .project-origin {
    padding: 16px 64px;
  }
}