:root {
  --c-brand: #c12233;
  --c-brand-light: #da3244;
}

.nav-bar .logo {
  height: 30px;
  margin-right: 8px;
}

.home-hero .figure .image {
  max-height: 220px;
}

.project-logo img {
  max-width: 450px;
}

.sponsor-logo img {
  max-width: 300px;
}

.thankyou-logo img {
  max-width: 300px;
}
